body{
    background-image: url("/static/images/fundo_verde.jpg");
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center;
    height:100vh;
    font-style: italic;
    
}